{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{% static 'ecom/style.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chela+One&family=Fascinate&family=Fascinate+Inline&family=League+Spartan&family=Poppins:wght@100;200;300;400;500;600&family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">
   
    <link rel="stylesheet" href="{% static 'ecom/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'ecom/css/owl.theme.default.min.css' %}">




    <!-- autocomplete -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

    <!-- JavaScript Alertify JS -->
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

    


    <!-- CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
    
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
   
    <script src="{% static 'ecom/js/jquery-3.6.0.min.js' %}"></script>
    <!-- autcomplete -->
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script> 
    


    <script src="{% static 'ecom/js/cart.js' %}"></script>
    {% block css %}  {% endblock %}
    {% block jscripts %} {% endblock %}
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container-fluid">
            <a href="#" class="navbar-brand">ProliShop</a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
          
                <div class="search-bar">
                    <form action="{% url 'ecom:searchproduct' %}" method="post">
                        {% csrf_token %}
                    <div class="input-group">
                        <input type="search" required name="searchedstring" id="searchproduct" class="form-control" placeholder="Search Products">
                        <button type="submit" class="input-group-text"><i class="fa fa-search"></i></button>

                      </div>
                    </form>
                </div>

            
          
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="{% url 'ecom:index' %}" class="nav-link {% if request.resolver_match.url_name == 'index' %} active {% endif %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'ecom:collections' %}" class="nav-link {% if request.resolver_match.url_name == 'collections' %} active {% endif %}">Collections</a>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'ecom:logoutpage' %}" class="nav-link {% if request.resolver_match.url_name == 'logoutpage' %} active {% endif %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a href="{% url 'ecom:loginpage' %}" class="nav-link {% if request.resolver_match.url_name == 'loginpage' %} active {% endif %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'ecom:register' %}" class="nav-link {% if request.resolver_match.url_name == 'register' %} active {% endif %}">Register</a>
                    </li>
                    {% endif %}


                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"> 
                            {% if request.user.is_authenticated %}
                            {{request.user}}
                            {% else %}
                            Guest
                            {% endif %}
                         </a>
                        <div class="dropdown-menu">
                            <a href="{% url 'ecom:myorders' %}" class="dropdown-item">My Orders</a>
                            <a href="#" class="dropdown-item">Inbox</a>
                            <a href="#" class="dropdown-item">Drafts</a>
                            <a href="#" class="dropdown-item">Sent Items</a>
                            <div class="dropdown-divider"></div>
                            <a href="{% url 'ecom:logoutpage' %}"class="dropdown-item">Logout</a>
                        </div>
                    </li>
                </ul>
                <ul class="nav navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="{% url 'ecom:viewcart' %}" class="nav-link {% if request.resolver_match.url_name == 'viewcart' %} active {% endif %}">Cart</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'ecom:wishlist' %}" class="nav-link {% if request.resolver_match.url_name == 'wishlist' %} active {% endif %}">WishList</a>
                    </li>
                    <!-- <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Admin</a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a href="#" class="dropdown-item">Reports</a>
                            <a href="#" class="dropdown-item">Settings</a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">Logout</a>
                        </div>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>
    <div class="py-3 bg-primary">
        <div class="container path">
            <a class="text-white" href="{% url 'ecom:index' %}"> Home > </a>
            {% if collections or category.name %}
            <a class="text-white" href="{% url 'ecom:collections' %}"> Collections ></a>
            {% endif %}
            {% if category.name %}
            <a class="text-white" href="{% url 'ecom:collectionview' category.slug %}"> {{ category.name }} > </a>
            {% endif %}
            {% if product.name %}
            <a class="text-white" href="{% url 'ecom:productview' product.category.slug product.slug %}"> {{ product.name }} </a>
            {% endif %}

        </div>
    </div>
    <!-- <script src="{% static 'ecom/js/alerting.js' %}"></script> -->

    <script>
        alertify.set('notifier','position', 'top-right');
        {% for msg in messages %}
        alertify.success('{{ msg }}');
        {% endfor %}
    </script>
<script>
    var availableTags = [];

    $.ajax({
        method: "GET",
        url: "/shopping/prodlist",
        success: function (response) {
            console.log(response);
            startAutoComplete(response);
        }
    });

    function startAutoComplete(availableTags) {
        $( "#searchproduct" ).autocomplete({
        source: availableTags
        });
    }

</script>

<script src="{% static 'ecom/js/owl.carousel.min.js' %}"></script>

<script>




    $(document).ready(function(){
        // $(".owl-carousel").owlCarousel();
        $('.owl-carousel').owlCarousel({
        loop:true,
        margin:10,
        nav:true,
        dots:true,
        responsive:{
            0:{
                items:1
            },
            600:{
                items:3
            },
            1000:{
                items:4
            }
        }
        });
    });
</script>


    {% block body %}

    {% endblock %}
</body>
</html>
