<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Page Accueil</title>

    <style media="screen">
      .sections {
        border: 3px solid orange;
        background-color: green;
      }
    </style>
  </head>
  <body>
    <h1>Welcome ! </h1>
    <div class="sections" id="header">HEADER</div>

    <div class="sections" id="left">LEFT</div>
    <div class="sections" id="right">RIGHT</div>

    <ul>

      <li><a href="{% url 'proligaz:sales' %}"> Ventes </a></li>
      <li><a href="{% url 'proligaz:board' %}"> Tableau de Bord </a></li>
      <li><a href="{% url 'proligaz:employe' %}"> Employés</li>
    </ul>



  </body>
</html>
